* { 
    background-color: #F27457;
}

@import url('https://fonts.googleapis.com/css?family=Rubik:900&display=swap');
h1 {
    font-family: 'Rubik', sans-serif;
    color: #F20544;
    font-size: 60px;
    text-align: center;
}

@import url('https://fonts.googleapis.com/css?family=Rubik:900&display=swap');
h2 {
    font-family: 'Rubik', sans-serif;
    color: #BF0436;
    font-size: 40px;
    text-align: center;
}

@import url('https://fonts.googleapis.com/css?family=Rubik:900&display=swap');
h3 {
    font-family: 'Rubik', sans-serif;
    color: #73253A;
    font-size: 20px;
    text-align: center;
    box-sizing: border-box;
    padding: 10px 50px 5px;
}

@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
.Paragraph {font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color: #F2F2F2;
    box-sizing: border-box;
    padding: 3px 50px 3px;
}

@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
.Paragraphbullet {font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color: #F2F2F2;
    box-sizing: border-box;
    padding: 1px 50px 1px;
}

@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
#bumlink {font-family: 'Nunito', sans-serif;
    color: #F2F2F2;
    box-sizing: border-box;
    padding: 0.1px 50px 0.1px;}

img { 
    width: 55%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }